body{
    background-image: url("../images/signup1.jpg");
}

#nav-bar{
    width: 80%;
    margin:auto;
    border :0px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-bar img{
  height: 100px;
  width:auto;
  background-color: white;
  border-radius: 20px;
  padding: 8px;
}

#nav-bar a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: orangered;
    color: white;
    border-radius: 6px;
    font-size: 25px;
    border: 3px sold black;
}

#nav-bar a:hover{
    background-color: white;
    color:green;
}
#display-div{
    display: none;
}

#display-div h2{
    padding:5px;
    background-color: green;
    color:white;
    padding:10px 25px;
    border-radius: 5px;
}

#display-div h2:hover{
    background-color: white;
    color:green;
}

#content{
    width:70%;
    margin:auto;
    padding-top: 100px;
}

#content h1{
    background-color: brown;
    font-size: 80px;
    color:orange;
    padding:2% 4%;
    text-align: center;
    word-spacing: 20px;
    border: 6px solid white;
    border-radius: 20px;   
}
#content h2{
    font-size: 50px;
}

#buy-btn2{
    padding:10px;
    background-color: green;
    color:white;
    font-size: 25px;
    border-radius: 8px;
}

#logout-div{
    display: none;
}

#cart-div{
    pointer-events: none;
  
}

#address-page,#card-page{
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:20px;
    display: none;
   
    
}

#address-page>form,#card-page>form{
    width:40%;
    margin:auto;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    
   
   
}

#address-btn,#card-btn{
   
    padding:10px 25px;
    border-radius: 5px;
    font-size: 25px;
    background-color: green;
    color:white;
    outline: none;
    cursor: pointer;
   
}

#address-page input{
  padding:10px;
}

#card-page input{
    padding:10px;
}



